{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="register-container">
    <div class="register-inner register-large">
        <h4>Complete seu cadastro para continuar</h4>

        <form class="register-form" id="candidate-details-form">
            <div class="row g-3">

                <div class="col-md-6">
                    <input type="text" class="form-control email-input" placeholder="Nome" required>
                </div>

                <div class="col-md-6">
                    <input type="text" class="form-control email-input" placeholder="Sobrenome" required>
                </div>

                <div class="col-md-4">
                    <input type="text" id="cep" class="form-control email-input" placeholder="CEP" required>
                </div>

                <div class="col-md-4">
                    <input type="text" id="cidade" class="form-control email-input" placeholder="Cidade" required>
                </div>

                <div class="col-md-4">
                    <input type="text" id="bairro" class="form-control email-input" placeholder="Bairro" required>
                </div>

                <div class="col-md-12">
                    <input type="text" id="endereco" class="form-control email-input" placeholder="Endereço" required>
                </div>

                <div class="col-md-6">
                    <input type="text" class="form-control email-input" placeholder="CPF" required>
                </div>

                <div class="col-md-6">
                    <input type="tel" class="form-control email-input" placeholder="Telefone" required>
                </div>

                <div class="col-md-6">
                    <input type="password" class="form-control email-input" placeholder="Senha" required>
                </div>

                <div class="col-md-6">
                    <input type="password" class="form-control email-input" placeholder="Confirmar Senha" required>
                </div>
            </div>

            <button type="submit" class="btn btn-black w-100 mt-4">
                Concluir cadastro
            </button>
        </form>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}
