{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="register-container">
    <div class="register-inner">
        <h4>Insira os dados para continuar</h4>

        <form class="register-form" id="company-register-form">
            <input 
                type="email" 
                id="company-email" 
                class="form-control email-input" 
                placeholder="E-mail corporativo" 
                required
            >

            <input 
                type="text" 
                id="company-cnpj" 
                class="form-control email-input" 
                placeholder="CNPJ" 
                required
            >

            <button type="submit" class="btn btn-black w-100 mt-3">Continuar</button>
        </form>

        <p class="terms">
            Ao continuar, você concorda em receber comunicações por WhatsApp, mensagens de texto ou e-mail da Scout.
        </p>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}
