{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="register-container">
    <div class="register-inner">
        <h2>Qual é o seu endereço de e-mail?</h2>
        
        <form class="register-form" id="candidate-email-form">
            <input id="emailInput" type="email" class="form-control email-input mb-3" placeholder="Digite seu e-mail" required>
            <button type="submit" class="btn btn-black w-100 mb-4">Continuar</button>
        </form>

        <div class="divider">ou</div>

        <div class="social-login">
            <button class="btn btn-social">
                <img src="{% static 'images/google_icon.png' %}" alt="Google" class="icon">
                Fazer login com o Google
            </button>
            <button class="btn btn-social">
                <img src="{% static 'images/linkedin_icon.png' %}" alt="Apple" class="icon">
                Fazer login com o LinkedIn
            </button>
        </div>

        <p class="terms">
            Ao continuar, você concorda em receber comunicações por WhatsApp, mensagens de texto ou e-mail da Scout.
        </p>
    </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}
